USE [dp_presupuesto]
GO
if object_id ('dbo.sp_metadata_operaciones') is not null
    drop procedure dbo.sp_metadata_operaciones
go
create procedure dbo.sp_metadata_operaciones(
    @i_operacion char(1)
)
As
begin
    if @i_operacion != 'Q'
    begin
        THROW 50001, 'ERROR TRANSACCION NO PERMITIDA', 1
        return 50001
    end

    if @i_operacion = 'Q'
    begin
        select  * from    metadata.clasificacion_gasto
        where   estado = 1
        order   by clasificacion asc

        select	codigo, cuenta + ' - ' + tipo "dedscripcion" 
        from	core.cuenta
        where	estado = 1

        select	c.codigo, c.valor from	metadata.tabla t
        inner join metadata.catalogo c on t.codigo = c.tabla
        where t.tabla = 'tbl_tipo_transaccion'

        select 	* from metadata.producto
        where estado = 1

        select 	* from metadata.dimension
        where estado = 1

        select 	* from metadata.detalle_gasto
        where estado = 1
        
        return 0
    end
end
return 0
go
if object_id('dbo.sp_metadata_operaciones') is not null
    print '<< CREATE PROCEDURE dbo.sp_metadata_operaciones >>'
else 
    print '<< ERROR CREATE PROCEDURE dbo.sp_metadata_operaciones >>'