

<div style="position: fixed; min-height: 0px; bottom: 1%; right: 1%;" class="w-25" id="notificationPanel"></div>


<script src="jquery.js"></script>
<script src="bootstrap.bundle.min.js"></script>
<script src="umd/popper.min.js"></script>
<script src="js/FGenerales.js"></script>


<!--
<script src="chart.min.js"></script>
<script src="xlsx.full.min.js"></script>
<script src="../FileSaver.min.js"></script>
<script src="js/FGenerales.js"></script>
-->

<!--
<script type="module">
    /*$(function () {
        $('[data-bs-toggle="tooltip"]').tooltip({
            boundary: 'clippingParents',
            customClass: 'myClass'
        })
        $('[data-toggle="tooltip"]').tooltip()
    });*/
</script>
-->